#homeText {
    font-size: 8vw;
    font-weight: bold;
    color: rgb(206, 206, 206);
    text-align: center;
    margin: 8vw 0 12vw 0;
    cursor: context-menu;
    user-select: none;
}
.fa-heart {
    font-size: 20px;
}
.fa-heart:hover:not(#btnHeart) {
    cursor: pointer;
    color: red;
}